#url:placeholder-shown {
    font-style: italic;
}

#url {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 0.5rem;
}

#method {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#send {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
