@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

button {
    border: 1px solid gray;
    border-collapse: collapse;
    cursor: pointer;
}

input {
    border: 1px solid gray;
    border-collapse: collapse;
}

select {
    border: 1px solid gray;
    border-collapse: collapse;
}

#sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 0.5rem;
}

#request-editor {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 1px solid gray;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}

#response {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    border: 1px solid gray;
    border-collapse: collapse;
}

.pb-1 {
    padding-bottom: 1rem;
}

.unstyled-list {
    list-style-type: none;
}

.no-style-button {
    border: none;
    background: none;
}
